* {
    text-align:justify;
    font-family: sans-serif;
}

body {
    display: grid;
    gap : 1px;
    grid-template-rows: 200px auto;
    grid-template-columns: 300px auto;
    grid-template-areas:
      "header header"
      "sidebar main";
      margin-left: 20%;
      margin-right: 20%;
}

header {
    display: grid;
    grid-area: header;
    background-color: #E1CE7A;
    display: flex;
}
  
aside {
    display: grid;
    grid-area: sidebar;
    background-color: #C5BAAF
 }

 #experience {
    background-color: #BDB57E;
 }

  
main {
    display: grid;
    grid-area: main;
    background-color: #EBCFB2;
}
  
footer {
    display: grid;
    grid-area: footer;
    background-color: #424B54;
}

.company {
    list-style-type: circle;
}

.diploma {
    list-style: disc;
}

/*
@media (min-width: 60000px) {
    * {
    grid-template-areas:
      
      "header header header"
      "aside main main"
      "footer footer footer";
  }
}
*/