/* Pour animer le fond d'écran */
@keyframes gradientShift {
    0% { background-color: #f2eecb; }
    50% { background-color: #d8b5a5; }
    100% { background-color: #f2eecb; }
}

/* Pour ajouter une police personnalisée */
@font-face {
    font-family: 'montserrat';
    src: url(montserrat.ttf)
}

/* Pour ajouter un effet d'animation dans le menu de navigation */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

body {
    animation: gradientShift 15s infinite alternate;
    color: #333;
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    width: 100%;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    border-bottom: 4px solid #FFA500;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.6);
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#bandeau {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ol {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 20px 0;
    justify-content: center;
}

nav .navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #FFD700;
    transition: background-color 0.3s, transform 0.3s;
}

nav .navigation a:hover {
    background-color: #FFA500;
    animation: bounce 0.3s ease-in-out; /* Effet d'animation */
}

main {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #333;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.selection {
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    display: flex;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.6); /* Neon pink glow */
}

p {
    font-size: 22px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #FFD700;
    border-top: 4px solid #FFA500;
    font-size: 0.9em;
    width: 100%;
}